@font-face {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  src: url(../../assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
  // url(../../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
  // url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 400;
}