@use '../../styles/partials/mixins' as *;

.about-me {
  padding: 0rem 5%;
  &__list {
    list-style: none;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @include tablet {
        flex-direction: row;
      }
    }
  }
}